[Unit]
Description = ftdi-mcp service for PRO SIS18 extraction kicker

[Service]
Type = simple
Environment="DIM_DNS_NODE=asl105"
ExecStart = ftdimcp-ctl 0 -d b2b_pro_sis18-kse -l 51.0

[Install]
WantedBy = multi-user.target
