[Unit]
Description = data master unipz gateway, diagnostic logging
Requires = dev-wbm0.device
After = dev-wbm0.device

[Service]
Type = simple
ExecStart = /bin/sh -c 'dmunipz-ctl -s1 dev/wbm0 | logshipper.sh dmunipz-ctl'

[Install]
WantedBy = multi-user.target