NET      "pgclk_i" TNM_NET = "CLOCK_50MHZ";
TIMESPEC "TS_CLOCK_50MHZ" = PERIOD "CLOCK_50MHZ" 20ns HIGH 50%;

NET CONF_DONE_i LOC = H1;
NET nCONFIG_PROG_io LOC = G1;
NET CONFIG_SPV_i LOC = C3;
#
NET fpga_con_io<1> LOC = A9;
NET fpga_con_io<2> LOC = B10;
NET fpga_con_io<3> LOC = A2;
NET fpga_con_io<4> LOC = A10;
NET fpga_con_io<5> LOC = A5;
#
NET pgclk_i LOC = J1;
#
NET sel_clk_o<0> open_drain;
NET sel_clk_o<1> open_drain; 
NET sel_clk_o<0> LOC = K2;
NET sel_clk_o<1> LOC = A7;

#
NET hsw_i<1> LOC = K8;
NET hsw_i<2> LOC = A3;
NET hsw_i<3> LOC = K1;
NET hsw_i<4> LOC = K4;
#
NET config_mode_o<0> LOC = E1;
NET config_mode_o<1> LOC = K5;
NET config_mode_o<2> LOC = C1;
NET config_mode_o<3> LOC = B1;
NET config_mode_o<4> LOC = A1;
#
NET pled_o<1> LOC = H10;
NET pled_o<2> LOC = G10;
NET pled_o<3> LOC = F10;
NET pled_o<4> LOC = E10;
NET pled_o<5> LOC = K7;
#
NET mres1_o LOC = F1;
NET fpga_res_o LOC = D1;
NET nstatus_i LOC = A4;
NET pbf1_i LOC = A8;






