[Unit]
Description = b2b data analysis for PRO ESR

[Service]
Type = simple
Environment="DIM_DNS_NODE=asl105"
ExecStart = b2b-analyzer pro_esr

[Install]
WantedBy = multi-user.target
