[Unit]
Description = b2b data analysis for INT SIS18

[Service]
CPUSchedulingPolicy=rr
CPUSchedulingPriority=1
Type = simple
Environment="DIM_DNS_NODE=asl105"
ExecStart = b2b-analyzer int_sis18

[Install]
WantedBy = multi-user.target