[Unit]
Description = b2b data acquisition for INT SIS18
Requires = saftd.service
After = saftd.service

[Service]
Type = simple
Environment="DIM_DNS_NODE=asl105"
ExecStart = b2b-serv-raw tr1 -e0 int
[Install]
WantedBy = multi-user.target