[Unit]
Description = b2b data analysis for INT CRYRING

[Service]
Type = simple
Environment="DIM_DNS_NODE=asl105"
ExecStart = b2b-analyzer int_yr

[Install]
WantedBy = multi-user.target