[Unit]
Description = b2b system monitor for PRO ESR kicker 
Requires = dev-wbm0.device
After = dev-wbm0.device

[Service]
Type = simple
Environment="DIM_DNS_NODE=asl105"
ExecStart = b2b-serv-sys dev/wbm0 -s pro_esr-kdx

[Install]
WantedBy = multi-user.target
