NET CDONE LOC = H1;
NET CONFIX LOC = G1;
NET CONFIG1 LOC = C3;
#
NET CON<1> LOC = A9;
NET CON<2> LOC = B10;
NET CON<3> LOC = A2;
NET CON<4> LOC = A10;
NET CON<5> LOC = A5;
#
NET PGCLK LOC = J1;
#
NET SEL_CLK<0> LOC = K2;
NET SEL_CLK<1> LOC = A7;
NET SEL_CLK<2> LOC = C10;
NET SEL_CLK<3> LOC = D10;
#
NET HSW<1> LOC = K8;
NET HSW<2> LOC = A3;
NET HSW<3> LOC = K1;
NET HSW<4> LOC = K4;
#
NET M<0> LOC = E1;
NET M<1> LOC = K5;
NET M<2> LOC = C1;
NET M<3> LOC = B1;
NET M<4> LOC = A1;
#
NET PLED<1> LOC = H10;
NET PLED<2> LOC = G10;
NET PLED<3> LOC = F10;
NET PLED<4> LOC = E10;
NET PLED<5> LOC = K7;
#
NET MRES LOC = K3;
NET MRES1 LOC = F1;
NET FPGA_RES LOC = D1;
NET NSTAT LOC = A4;
NET PBS1 LOC = A8;





