[Unit]
Description = uniblm monitoring server for PRO
Requires = saftbus.service
After = saftbus.service

[Service]
Type = simple
Environment="DIM_DNS_NODE=asl105"
ExecStart = uniblm-serv-mon tr0 -d pro

[Install]
WantedBy = multi-user.target