arria10_pex10_lvds_ibuf/arria10_pex10_lvds_ibuf/*
arria10_pex10_lvds_obuf/arria10_pex10_lvds_obuf/*
arria10_pex10_lvds_pll/arria10_pex10_lvds_pll/*
arria10_pex10_lvds_rx/arria10_pex10_lvds_rx/*
arria10_pex10_lvds_tx/arria10_pex10_lvds_tx/*
*.sopcinfo
.qsys_edit
