[Unit]
Description = wrmil monitoring server for INT PZU UH

[Service]
Type = simple
Environment="DIM_DNS_NODE=asl105"
ExecStart = wrmil-serv-mon tr0 -s4 -m25 -d int -c1

[Install]
WantedBy = multi-user.target