[Unit]
Description = wrmil monitoring server for INT PZU TK

[Service]
Type = simple
Environment="DIM_DNS_NODE=asl105"
ExecStart = wrmil-serv-mon tr0 -s11 -m25 -n23 -d int -c4

[Install]
WantedBy = multi-user.target