[Unit]
Description = wrmil monitoring server for PRO SIS18

[Service]
Type = simple
Environment="DIM_DNS_NODE=asl105"
ExecStart = wrmil-serv-mon tr0 -s7 -m25 -d pro -c1

[Install]
WantedBy = multi-user.target