# required for yocto ramdisk with kernel 6
#
# ftdi-mcp requires libftd2xx and libmpsse
# however, the builtin/stock driver detects the
# ftdi-mcp module during boot and prevents using
# the above mentioned libraries
#
# thus, it is necessary to disconnect the stock
# ftdi driver from the ftdi-mcp which is done
# by this script using 'unlink'

tmpfile=/tmp/ftdidevs

dmesg | grep "FTDI USB Serial Device converter detected" > $tmpfile

while read -r LINE
do
    USB=$(echo $LINE | cut -c10-16)
    echo try to unlink $USB
    echo -n $USB > /sys/bus/usb/drivers/ftdi_sio/unbind
done < $tmpfile

sleep 2

