# attach 2nd timing receiver
#logger "attach tr1 to saftd"
#saft-ctl tr1 attach dev/wbm1
#sleep 1
# copy config script
SCRIPTA=uniblm-int_start.sh
#SCRIPTB=unichop-int-saftdm.txt
cp -a $MOUNTPOINT/$ARCH/usr/bin/$SCRIPTA /usr/bin/
#cp -a $MOUNTPOINT/$ARCH/usr/bin/$SCRIPTB /
# execute config script
$SCRIPTA

