# attach 2nd timing receiver
#logger "attach tr1 to saftd"
#saft-ctl tr1 attach dev/wbm1
#sleep 1
# copy config script
SCRIPTA=wrmil-int-f50sync-br3_start.sh
SCRIPTB=wrmil-int-f50sync-br3-cg_start.sh
cp -a $MOUNTPOINT/$ARCH/usr/bin/$SCRIPTA /usr/bin/
cp -a $MOUNTPOINT/$ARCH/usr/bin/$SCRIPTB /usr/bin/
# execute config script
$SCRIPTA
$SCRIPTB

